@using ASP.NET_Course_Submission.Helpers.Services;

@model RegisterProductViewModel
@inject CategoryService categoryService

<section class="Forms mb-5">
	<div class="container">
		<div class="row d-flex justify-content-center form-border p-5">
			<div class="col-12 col-lg-6">
				<form method="post" novalidate>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="mb-3">
						<label asp-for="Name" class="form-label"></label>
						<input asp-for="Name" class="form-control" />
						<small><span asp-validation-for="Name" class="text-danger"></span></small>
					</div>
					<div class="mb-3">
						<label asp-for="Price" class="form-label"></label>
						<input asp-for="Price" class="form-control" />
						<small><span asp-validation-for="Price" class="text-danger"></span></small>
					</div>
					<div id="priceMsg">
						<span id="priceWarning"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Description" class="form-label"></label>
						<textarea asp-for="Description" class="form-control" rows="4"></textarea>
						<small><span asp-validation-for="Description" class="text-danger"></span></small>
					</div>
					<div id="descriptionMsg">
						<span id="descriptionWarning"></span>
					</div>
					<div class="mb-3">
						<label asp-for="ProductImage" class="form-label"></label>
						<input asp-for="ProductImage" class="form-control" />
						<small><span asp-validation-for="ProductImage" class="text-danger"></span></small>
					</div>
					<div class="mb-3">

					
					@foreach(SelectListItem tag in ViewBag.Tags)
					{
							<div class="tags">
								<label class="me-1" for="@tag.Value">@tag.Text</label>
								<input class="checkbox m-0" name="Tags" value="@tag.Value" checked="@tag.Selected" type="checkbox"/>
							</div>
					}
					</div>
					<div class="mb-3">
						<label asp-for="Discount" class="form-label"></label>
						<input asp-for="Discount" class="form-control" />
						<small><span asp-validation-for="Discount" class="text-danger"></span></small>
					</div>
					<div id="discountMsg">
						<span id="discountWarning"></span>
					</div>
					<div class="mb-3">
						<label asp-for="CategoryId" class="form-label"></label>
						<select asp-for="CategoryId" class="form-control">
							<option value="">--Select a category--</option>
							@foreach (var item in await categoryService.GetAllCategoriesAsync())
							{
								<option value=@item.Id>@item.CategoryName</option>
							}
						</select>
						<small><span asp-validation-for="CategoryId" class="text-danger"></span></small>
					</div>

					<div class="mt-2">
						<button type="submit" class="btn btn-success">Skapa annons</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<script>discountValidation()</script>
<script>priceValidation()</script>
<script>descriptionValidation()</script>