@model ProductViewModel;
@inject ProductService _productService;
@{
    ViewData["Title"] = Model.Name;
    var related = await _productService.GetAllAsync();
    var categoryName = await categoryService.GetAsync(Model.CategoryId);
    int counter = 0;
}

<div class="hero">
    <img src="images/placeholders/1920x300.svg" alt="">
</div>
<section class="productSection">
    <div class="productImages">
        <img src="@Model.ProductImage" alt="@Model.Name">
    </div>
    <div class="productInformation">
        <div class="reviewDiv">
            <i class="fa-solid fa-star" style="color: #f2c41c;"></i>
            <i class="fa-solid fa-star" style="color: #f2c41c;"></i>
            <i class="fa-solid fa-star" style="color: #f2c41c;"></i>
            <i class="fa-solid fa-star" style="color: #f2c41c;"></i>
            <i class="fa-solid fa-star" style="color: #f2c41c;"></i>
            <span>16 Reviews</span>
        </div>
        <p class="price">$@string.Format("{0:F0}", Model.Price)</</p>
        <div class="Cart">
            <div class="QuantityBtns">
                <div><p>-</p></div>
                <div><p>2</p></div>
                <div><p>+</p></div>
            </div>
            <button>Add to cart</button>
        </div>
        <div class="colors">
            <div>
                <i class="fa-solid fa-circle" style="color: #f70202;"></i>
                <i class="fa-solid fa-circle" style="color: #f7c202;"></i>
                <i class="fa-solid fa-circle" style="color: #85bbd5;"></i>
            </div>
            <p>SKU: N/A</p>
        </div>
        <div class="wishlist">
            <button class="wishlistBtn">Add to wishlist</button>
            <p>Category: @categoryName.CategoryName</p>
        </div>
        <hr class="mobileHr" />
        <div class="info">
            <p>@Model.Name</p>
            <p>@Model.Description</p>
        </div>
    </div>
</section>
<section class="moreInfo">
    <div class="infoBtns">
        <button>DESCRIPTION</button>
        <button>ADDITIONAL INFO</button>
        <button>REVIEWS (0)</button>
        <button>SHIPPING & DELIVERY</button>
    </div>
    <div class="d-flex justify-content-center flex-column flex-md-row">
        <div class="col-12 col-md-4 d-flex flex-column text-center text-md-start">
            <p>@Model.Name</p>
            <p>@Model.Description</p>
        </div>
        <div class="col-12 col-md-3 col-xl-2 d-flex justify-content-center">
            <img class="product-card-img"  src="@Model.ProductImage" alt="@Model.Name">
        </div>
    </div>
    <hr>
</section>
<section class="products">
    <div class="container">
        <h2>Related Products</h2>
        @foreach(var product in related)
        {
            if(product.Id != Model.Id && product.CategoryId == Model.CategoryId)
            {
                <partial name="/Views/Partials/Cards/_ProductCard.cshtml" model="product" />
            }
            counter++;
        }
        @if (counter == related.Count)
        {
            <p>Det finns inga fler produker i denna kategorin</p>
        }
    </div>
</section>


 